name: Build/Test

on:
  pull_request:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v5

    - name: Set up Go
      uses: actions/setup-go@v6
      with:
        go-version-file: 'go.mod'

    - name: Build Web UI
      run: |
        pnpm -C server/client/ build

    - name: Build CLI
      run: go build
    
    - name: Test CLI
      run: go test ./...
