name: Build/Test

on:
  pull_request:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v5

    - uses: pnpm/action-setup@v4
      with:
        version: 10

    - name: Set up Node
      uses: actions/setup-node@v5
      with:
        node-version: 22.x
        cache: pnpm
        cache-dependency-path: |
          server/client/pnpm-lock.yaml

    - name: Set up Go
      uses: actions/setup-go@v6
      with:
        go-version-file: 'go.mod'

    - name: Add shims for ffmpeg tools
      run: |
        echo "PATH=$PATH"

        cat <<EOF > ffmpeg
        #!/bin/bash
        echo ffmpeg
        EOF
        chmod +x ffmpeg

        cat <<EOF > ffprobe
        #!/bin/bash
        echo ffprobe
        EOF
        chmod +x ffprobe

    - name: Build Web UI
      run: |
        pnpm -C server/client/ install
        pnpm -C server/client/ lint
        pnpm -C server/client/ build

    - name: Build CLI
      run: go build
    
    - name: Test CLI
      run: go test ./...
